<!-- <p>
  calc-form works!
</p> -->

<!-- TEST SINGLE OUTPUT -->
<!-- TO-DO: Add [hidden]="!submitted" -->
<!-- <div class="form-group">
    <h2>Single Output</h2>
  </div> -->
  <!-- TO-DO: Add [hidden]="!submitted" -->
  <!-- <div *ngFor='let outputInfor of outputInfoz' style="text-align:left">
    <ul>
      <li>
        <p> -->
          <!--TO-DO delete this when program is done -->
          <!-- Id Form: {{ outputInfor.fkeyId}}
          <br>
          <b>Month</b>: {{ outputInfor.month}} <br>
          <br>
          <b>Beginning</b> <br>
          Beginning Stock: {{ outputInfor.begStock }}<br>
          Beginning Cash: {{ outputInfor.begCash }}<br>
          Beginning Total: {{ outputInfor.begTot }}<br>
          <br>
          <b>Transaction</b><br>
          Transaction Stock: {{ outputInfor.traStock }}<br>
          Transaction Cash: {{ outputInfor.traCash }}<br>
          Transaction Total: {{ outputInfor.traTot }}<br>
          <br>
          <b>Rebalance</b><br>
          Stock: {{ outputInfor.rebStock }}<br>
          Cash: {{ outputInfor.rebCash }}<br>
          <br>
          <b>Ending</b> <br>
          Stock Amount: {{ outputInfor.endStock }} <br>
          Cash Amount: {{ outputInfor.endCash }} <br>
          Total Ending Amount: {{ outputInfor. endAmount }} <br>
        </p>
      </li>
    </ul>
  </div> -->

<div class="container">
  <!-- TO-DO: Add [hidden]="submitted" -->
  <div [hidden]="submitted">
  <h1>Calculator Form</h1>

  <form (ngSubmit)="onSubmit()" #calcForm="ngForm">

    <div class="form-group">
      <label for="startAmount">Starting Amount</label>
      <input type="number" max=1000000000 class="form-control" id="startAmount" required 
      [(ngModel)]="inputData.startAmount"
       name="startAmount" #startAmount="ngModel" placeholder="Maximum Amount Allowed 1,000,000,000">
      <div [hidden]="startAmount.valid || startAmount.pristine" class="alert alert-danger">
        Invalid Amount
      </div>
    </div>

    <div class="form-group">
        <label for="stockRatio">Stock Ratio</label>
        <input type="number" class="form-control" id="stockRatio" required [(ngModel)]="inputData.stockRatio" name="stockRatio" #stockRatio="ngModel" placeholder="Will Generate Cash Ratio"
        (ngModelChange)="changeRatio($event)">
        <div [hidden]="stockRatio.valid || stockRatio.pristine" class="alert alert-danger">
          Invalid Field
        </div>
      </div>

    <!-- value={{inputData.stockRatio}} -->
    <div class="form-group">
      <label for="cashRatio">Cash Ratio</label>
      <input type="number" class="form-control" id="cashRatio" required [(ngModel)]="inputData.cashRatio" readonly="true" name="cashRatio" #cashRatio="ngModel" placeholder="auto-generate">
      <div [hidden]="cashRatio.valid || cashRatio.pristine" class="alert alert-danger">
        Invalid Form
      </div>
    </div>

    <div class="form-group">
      <label for="durationYear">Duration Year(s)</label>
      <select class="form-control" id="durationYear" required [(ngModel)]="inputData.durationYear" name="durationYear" #durationYear="ngModel">
      <option *ngFor="let durationYear of durationYears" [value]="durationYear">{{durationYear}}</option>
      </select>
      <!-- <input type="text" class="form-control" id="durationYear" required> -->
    </div>

    <div class="form-group">
      <label for="stockReturn">Stock Return</label>
      <input type="number" min="1" max="50" class="form-control" id="stockReturn" required [(ngModel)]="inputData.stockReturn" name="stockReturn" #stockReturn="ngModel" placeholder="Please enter a value between 1-50">
      <div [hidden]="stockReturn.valid || stockReturn.pristine" class="alert alert-danger">
        Invalid Field
      </div>
    </div>

    <div class="form-group">
      <label for="cashReturn">Cash Return</label>
      <input type="number" min="1" max="10" class="form-control" id="cashReturn" required [(ngModel)]="inputData.cashReturn" name="cashReturn" #cashReturn="ngModel" placeholder="Please enter a value between 1-10">
      <div [hidden]="cashReturn.valid || cashReturn.pristine" class="alert alert-danger">
        Invalid Field
      </div>
    </div>
    
    <button type="submit" class="btn btn-success" (click)="getOutputInfoId();" [disabled]="!calcForm.form.valid">Submit</button>

    <button type="button" class="btn btn-default" (click)="newCalc(); calcForm.reset()">New Form</button>
    
    <!-- {{diagnostic}} -->

  </form>
</div>
  
<!-- <div> -->
<!-- TO-DO: Add [hidden]="!submitted" -->
<div class="form-group" [hidden]="!submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Starting Amount</div>
    <div class="col-xs-9">{{ inputData.startAmount | number }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Stock Ratio</div>
    <div class="col-xs-9">{{ inputData.stockRatio }}%</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Cash Ratio</div>
    <div class="col-xs-9">{{ inputData.cashRatio }}%</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Duration Year(s)</div>
    <div class="col-xs-9">{{ inputData.durationYear }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Stock Return</div>
    <div class="col-xs-9">{{ inputData.stockReturn }}%</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Cash Return</div>
    <div class="col-xs-9">{{ inputData.cashReturn }}%</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Back</button>
</div>

<!-- TO-DO: Add [hidden]="!submitted" -->
<div class="form-group" [hidden]="!submitted">
  <h2>Simulation Output</h2>
</div>

<!-- TEST Creating table -->
<table class="simple-table" [hidden]="!submitted">
    <tr>
      <th rowspan="2">Month</th>
      <th colspan="3">Begin</th>
      <th colspan="3">Transaction</th>
      <th colspan="3">Balance</th>
      <th colspan="2">Rebalance</th>
      <th colspan="3">Total</th>
      <!-- <th>Begin Stock</th>
      <th>Begin Cash</th>
      <th>Begin Total</th>
      <th>Trans. Stock</th>
      <th>Trans. Cash</th>
      <th>Trans. Total</th>
      <th>Rebal. Stock</th>
      <th>Rebal. Cash</th>
      <th>Ending Stock</th>
      <th>Ending Cash</th>
      <th>Ending Total</th> -->
    </tr>
    <tr>
        <th>Begin Stock</th>
        <th>Begin Cash</th>
        <th>Begin Total</th>
        <th>Trans. Stock</th>
        <th>Trans. Cash</th>
        <th>Trans. Total</th>
        <th>Bal. Stock</th>
        <th>Bal. Cash</th>
        <th>Bal. Total</th>
        <th>Rebal. Stock</th>
        <th>Rebal. Cash</th>
        <th>Ending Stock</th>
        <th>Ending Cash</th>
        <th>Ending Total</th>
    </tr>
<tbody>
    <tr *ngFor='let outputInfo of outputData'>
      <td>
        <b>{{ outputInfo.month }}</b>
      </td>
      <td>
        {{ outputInfo.begStock | number }}
      </td>
      <td>
        {{ outputInfo.begCash | number }}
      </td>
      <td>
        {{ outputInfo.begTot | number }}
      </td>
      <td>
        {{ outputInfo.traStock | number }}
      </td>
      <td>
        {{ outputInfo.traCash | number }}
      </td>
      <td>
        {{ outputInfo.traTot | number }}
      </td>
      <td>
        {{ outputInfo.balStock | number }}
      </td>
      <td>
        {{ outputInfo.balCash | number }}
      </td>
      <td>
        {{ outputInfo.balTot | number }}
      </td>
      <td>
        {{ outputInfo.rebStock | number }}
      </td>
      <td>
        {{ outputInfo.rebCash | number }}
      </td>
      <td>
        {{ outputInfo.endStock | number }}
      </td>
      <td>
        {{ outputInfo.endCash | number }}
      </td>
      <td>
        <b>{{ outputInfo.endAmount | number }}</b>
      </td>
    </tr>
</tbody>
</table>

<!-- TO-DO: Add [hidden]="!submitted" -->
<!-- <div *ngFor='let outputInfo of outputData' style="text-align:left">
  <ul>
    <li>
      <p>
        <b>Month</b>: {{ outputInfo.month}} <br>
        <br>
        <b>Beginning</b> <br>
        Beginning Stock: {{ outputInfo.begStock }}<br>
        Beginning Cash: {{ outputInfo.begCash }}<br>
        Beginning Total: {{ outputInfo.begTot }}<br>
        <br>
        <b>Transaction</b><br>
        Transaction Stock: {{ outputInfo.traStock }}<br>
        Transaction Cash: {{ outputInfo.traCash }}<br>
        Transaction Total: {{ outputInfo.traTot }}<br>
        <br>
        <b>Rebalance</b><br>
        Stock: {{ outputInfo.rebStock }}<br>
        Cash: {{ outputInfo.rebCash }}<br>
        <br>
        <b>Ending</b> <br>
        Stock Amount: {{ outputInfo.endStock }} <br>
        Cash Amount: {{ outputInfo.endCash }} <br>
        Total Ending Amount: {{ outputInfo. endAmount }} <br>
      </p>
    </li>
  </ul>
</div> -->